<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Démo Ansible GitHub Pages</title>
</head>
<body>
    <h1>Démo Ansible GitHub Pages</h1>
    <p>Déployé par {{ github_user }}</p>
    <p>Commit : {{ git_commit }}</p>
    <p>Date : {{ build_date }}</p>

    <img src="https://preview.redd.it/oynqiuq4a9k51.jpg?width=640&crop=smart&auto=webp&s=fb64945028dd789dc71031040a114f95025e65d7" alt="Image démo">
    <br><br>
    <a href="">🔄 Rafraîchir la page</a>
    <a href="https://github.com/{{ github_user }}/{{ repo_name }}">Voir le dépôt GitHub</a>
</body>
</html>
