<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Démo Ansible GitHub Pages</title>
</head>
<body>
    <h1>Bienvenue sur la démo Ansible</h1>
    <p>Date de déploiement : {{ date }}</p>
    <p>Commit Git : {{ commit }}</p>
    <img src="https://preview.redd.it/oynqiuq4a9k51.jpg?width=640&crop=smart&auto=webp&s=fb64945028dd789dc71031040a114f95025e65d7" alt="Image démo">
    <br>
    <a href="#">🔄 Rafraîchir la page</a> |
    <a href="https://github.com/J4N0kun/ansible-gha-saas-demo">Voir le dépôt GitHub</a>
</body>
</html>
