<html>
<head>
  <title>Demo Ansible GHA</title>
</head>
<body>
  <h1>🚀 Site généré avec Ansible via GitHub Actions</h1>
  <p>Repo : <a href="{{ repo_url }}">{{ repo_url }}</a></p>
  <p>Version Ansible : 
    {% if ansible_version is defined and ansible_version.stdout is defined %}
      {{ ansible_version.stdout.split('\n')[0] }}
    {% else %}
      non récupérée
    {% endif %}
  </p>
  <br>
  <img src="https://preview.redd.it/oynqiuq4a9k51.jpg?width=640&crop=smart&auto=webp&s=fb64945028dd789dc71031040a114f95025e65d7" alt="Demo Image">
  <br><br>
  <a href="" onclick="location.reload();">🔄 Rafraîchir la page</a> |
  <a href="{{ repo_url }}">Voir le dépôt GitHub</a>
</body>
</html>